<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head.ejs')%>
<body>
    <%- include('partials/header.ejs')%>


    <section class="container">
        <%- include('partials/navbar.ejs')%>

        <h1>Tiago Machado</h1>
        <article class="content">
            <p>Página criada basicamente com HTML, CSS, e JavaScript.</p>
            <p>Porém eu utilizei o framework <em>Express</em> do <em>Node.Js</em> para criar uma conexão para direcionar as rotas.</p>
            <p>Também utilizei o <em>EJS</em> para gerar a visualização das páginas.</p>
            <p>O EJS é uma engine de visualização, com ele conseguimos de uma maneira fácil e simples transportar dados do back-end para o front-end, basicamente conseguimos utilizar códigos em javascript no html de nossas páginas.</p>
        </article>


        <%- include('partials/footer.ejs')%>
    </section>
    <%- include('partials/foot.ejs')%>
</body>
</html>